<!-- Navbar code -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CriminDEX</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref='home'>Home</a></li>
                <li><a ui-sref='about'>About</a></li>
                <li><a ui-sref='criminals'>Criminals</a></li>
            </ul>
        <div id='audio' class="nav navbar-nav navbar-right">
        <button class="btn btn-success" data-toggle="collapse" data-target="#player"><span class="glyphicon glyphicon-music"></span></button>
                <div id="player" class="collapse">
                <audio src="/media/audio/Locked_Up.mp3" autoplay="autoplay"/>
                </div>
        </div>
        </div>
    </nav>
