<main>

	<h2>EDIT THIS DONUT!</h2>

	<a href="/donuts">Return to Home Page</a>

	<div id="edit-form" class="donut-container-show">
		<form action="/donuts/{{donut.id}}?_method=PUT" method="POST">
		  <div>
		    <label for="name">
		    Name of Donut
		    </label>
		    <input type="text" name="name" value="{{donut.name}}"/>
		  </div>
		  <div>
		    <label for="description">
		      Update Description
		    </label>
		    <input type="text" name="description" value="{{donut.description}}"/>
		  </div>
		  <div>
		    <input type="submit" value="Update Donut"/>
		  </div>
		</form>

		<div id="img-preview">
			<img src="{{donut.img}}">
		</div>

	</div>
</main>
</body>
</html>
