<h1>Now you can organize your buttons all in one place!</h1>
<h3>Click below to start planning the rest of your awesome life!</h3>

<div id='home-buttons'>
	<button><a href="/users">ENTER SITE</a></button>

</div>