<form action="/pokemon/{{data.index}}?_method=PUT" method="POST">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name">
  </div>
   <div>
    <label for="img">Image:</label>
    <input type="text" name="img">
  </div> 
   <div>
   <label for="type">Type:</label>
   <span>Fire</span><input type="radio" name="type" value="true" checked>
   <span>Water</span><input type="radio" name="type" value="false">
   <span>Ice</span><input type="radio" name="type" value="true" checked>
   <span>Other</span><input type="radio" name="type" value="false">
 </div>
  <input type="submit" name="" value="Submit Changes">
</form>
